@page "/Education"

<PageTitle>Education</PageTitle>

<div class="Title">
    <h1>Education: </h1>

</div>
<br/>
<div class="container">
    <div class="gradient-cards">
        <div class="card">
            <div class="container-card  bg-blue-box">
                <p class="card-title">Primary school</p>
                <p class="card-description">Year:2016-2017<br />Class:10 th<br />Institute: Zkm.Hr.Sec.School <br />percentage:81% </p>
                <i class="fa fa-heart" @onclick="IncrementCount"></i><label> @currentCount</label>
                <i class="fas fa-comment"></i><label> @currentCount</label>
            </div>
        </div>

        <div class="card">
            <div class="container-card  bg-blue-box">
                <p class="card-title">Secodary School</p>
                <p class="card-description">Year: 2018-2019<br />Class:12 th<br/>Institute: Zkm.Hr.Sec.School <br />percentage:55% </p>
                <i class="fa fa-heart" @onclick="IncrementCount"></i><label> @currentCount</label>
                <i class="fas fa-comment"></i><label> @currentCount</label>
            </div>
        </div>

        <div class="card">
            <div class="container-card  bg-blue-box">
                <p class="card-title">UnderGraduate</p>
                <p class="card-description">Year: 2019-2023<br />Institute:NSCET <br />Degree :BE/ECE<br />CGPA:8 </p>
                <i class="fa fa-heart" @onclick="IncrementCount"></i><label> @currentCount</label>
                <i class="fas fa-comment"></i><label> @currentCount</label>
            </div>
        </div>

        <div class="card">
            <div class="container-card bg-blue-box">
                <p class="card-title">PostGraduate</p>
                <p class="card-description">Year: Loding . . .<br />Degree :BE/ECE<br />Institute:Loding . . .<br />CGPA:Loding . . .</p>
                <i class="fa fa-heart" @onclick="IncrementCount" ></i><label> @currentCount</label>
                <i class="fas fa-comment"></i><label> @currentCount</label>
            </div>
        </div>
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}
