@page "/Education"
<PageTitle>Education</PageTitle>

<br/>
<div class="container">
    <div class="gradient-cards">
        @if(EducationDetails.Count == 0)
        {
             <LoadingAnimation/>
        }
        else  @foreach(var educationDetails in EducationDetails)
              {
                <div class="card">
                    <div class="container-card bg-blue-box">
                        <p class="card-title" >@educationDetails.TITLE</p>
                        @if(educationDetails.TITLE.ToLower().Contains("school")) Cource = "Class";else Cource = "Degree";
                        <p class="card-description">Year: @educationDetails.YEAR<br />@Cource :@educationDetails.CLASS<br />Institute:@educationDetails.INSTITUTE<br />CGPA:@educationDetails.PERCENTAGE</p>
                        <i class="fa fa-heart" @onclick="() => AddLike(educationDetails.TITLE ,educationDetails.LIKES)"></i><label> @educationDetails.LIKES</label>
                        <i class="fas fa-comment" @onclick="() => HandleItemClick(educationDetails.TITLE)"></i><label>@educationDetails.COMMENT.Count</label>
                    </div>
                </div>
              }

        @if(ShowRHide)
        {
            <div class="form-popup">
                <button type="button" class="cancelbtn" @onclick="(() => ShowRHide = false )"><i class="fa fa-plus-circle" style="transform: rotate(45deg);color:lightcoral;"></i></button>
                <div class="form-container">
                    <h4>Commends</h4>
                    <input type="text" placeholder="Leave Your Commends" @bind="NewComment" >
                    <button type="submit" class="SubmitCmdBtn" @onclick="newComment"><i class="fa fa-arrow-circle-right"></i></button>
                 
                    <div class="table">
                         <table>
                        @foreach(var educationDetails in EducationDetails)
                        {
                            @foreach(var i in educationDetails.COMMENT)
                            {
                               if(i.TITLE == Title)
                               {
                                   <tr>
                                       <th>
                                           <div class="row">
                                               <div class="col-md-1"><div class="CommentUser"><img src="../css/images/image7.jpg" /></div></div>
                                               <div class="col-md-6"><p>@i.COMMENTEDUSER</p></div>
                                           </div>
                                       </th>
                                   </tr>
                                   <tr><td><p class="cmd">@i.COMMENT</p></td></tr>
                               }
                            }
                        }
                        </table>
                     </div>
                </div>
            </div>
        }
        </div>
    </div>


@code {
    List<tblEducationDetails>? EducationDetails = new List<tblEducationDetails>();

 
    private string? NewComment { get; set; }
    private string? Title { get; set; }
    private string? Cource { get; set; }
    private string? afterSubmit { get; set; }

    private bool ShowRHide { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadEducation);
    }
    private void LoadEducation()
    {
        System.Threading.Thread.Sleep(2000);
        EducationDetails = userService.Education();
    }
    private void newComment()
    {
        if(NewComment != null) userService.newComment(NewComment, Title);
        NewComment = null;
    }
    private void HandleItemClick(string item)
    {
        ShowRHide = !ShowRHide;
        Title = item;
    }
    private void AddLike(string Title , int Like)
    {
        int like = Like + 1;
        userService.AddLike(Title, like);
        uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
    }
   

}
