@page "/"

<PageTitle>Index</PageTitle>
<div class="body" style="background-image:url('../css/images/image7.jpg'); " >
    <br /> 
    <div class="motivationQuote">
      @*  <p>SUCCESS IS NOT FINAL;FAILURE IS NOT FATAL: IT IS THE COURAGE TO CONTINUE THAT COUNTS. </p>*@
        <h6>
            <span>SUCCESS </span><span>IS </span><span>NOT </span><span>FINAL; </span><span>FAILURE; </span><span>IS </span><span>NOT </span><span>FATAL: </span><span>IT </span><span>IS </span><span>THE </span><span>COURAGE </span><span>TO </span><span>CONTINUE </span><span>THAT </span><span>COUNTS </span>
         
        </h6>

    </div>
    @*<div class="insideCircle">
        <div class="@LoginImageClass">
        <div class="row">
            <div class="col-md-12">
                <div class="imageBg">
                    <img src=@imageSource class="image" />
                </div>
            </div>
            <div class="col-md-10">
                <h1 class="h1">MR.B.@CurrentUserName</h1>
                <span class="introText">CEO of SB Software & Solution</span>
            </div>
        </div>
    </div>
    </div>*@
   
    <div class="UserImageDesign"></div>

        <div class="GreetingText">
        <img src="css/images/PAGif2.gif" />
            <p>@Datetime Mr.@CurrentUserName !</p>
            <p class="hoverMsg">What Can I Do For You ?</p>
        </div>
 
</div>

<div class="loginBtn">
    <i class="material-icons"  @onclick="showMenuIcons">blur_on</i>
    <div class="@IconAmimationNameClass">
        <div class="iconContainer">
            <i class="material-icons" >power_settings_new</i>
            <i class="material-icons" @onclick="OpenPopUp">person_pin</i>
            <i class="material-icons" @onclick="SignInPopUp">person_add</i>
            <i class="material-icons">fingerprint</i>
            <i class="material-icons" @onclick="profilePage">settings</i>
        </div>
    </div>
</div>
<div class="@PopUp">
    <div class="form-popup">
        <button type="button" class="cancelbtn" @onclick=@(() => PopUp = "popuphide")><i class="fa fa-plus-circle" style="transform: rotate(45deg);color:lightcoral;"></i></button>
      <UserLoginPage/>
       
    </div>
</div>
<div class="@PopUpRegister">
    <div class="form-popup">
        <button type="button" class="cancelbtn" @onclick="closePopUpsignIn" ><i class="fa fa-plus-circle" style="transform: rotate(45deg);color:lightcoral;"></i></button>
       <RegisterPage />
    </div>
</div>

<div class="viewComments">
    <div class="content">
        <div class="container">
            <div class="list">
                 @foreach(var educationDetails in EducationDetails)
                 {
                   @foreach(var i in educationDetails.COMMENT)
                   {
                           <div class="UserIcon"><img src=@imageSource/></div><br/>
                           <div class="message">@i.COMMENT </div>
                   }
                }
               
            </div>
        </div>
    </div>
</div>
<PopupImage />
@code {
    private string? imageSource;
    private string? Datetime;
    public string? PopUp { get; set; } = "popuphide";
    private string? PopUpRegister { get; set; } = "popuphide";

    private string? LoginImageClass { get; set; } = "popuphide";
    private string? ConformPassword { get; set; }
    private string? IconAmimationNameClass { get; set; } = "popuphide";


    private string? CurrentUserName { get; set; }

    List<tblEducationDetails>? EducationDetails = new List<tblEducationDetails>();
    protected override void OnInitialized()
    {
        if(userService.CurrentUserName()!=null) 
        {
            CurrentUserName = userService.CurrentUserName(); LoginImageClass = "popupshow";
        }
        else CurrentUserName = "Guest";
        imageSource = $"css/images/UserImageBgRemoved.png";

        if(DateTime.Now.Hour < 12) Datetime = "Good Morning";
        else if(DateTime.Now.Hour < 17) Datetime = "Good Afternoon";
        else Datetime = "Good Evening";
        EducationDetails = userService.Education();

    }
    private void OpenPopUp()
    {
        PopUp = "popupshow";
        PopUpRegister = "popuphide";
    }

    private void SignInPopUp()
    {
        PopUp = "popuphide";
        PopUpRegister = "popupshow";
    }
    private void closePopUpsignIn()
    {
        PopUpRegister = "popuphide";
        PopUp = "popupshow";
    }
    private void showMenuIcons()
    {
        if(IconAmimationNameClass == "popupshow") IconAmimationNameClass = "popuphide";
        else IconAmimationNameClass = "popupshow";
    }
    private void profilePage()
    {
        uriHelper.NavigateTo("/ProfilePage");

    }
    
}
