@page "/ProfilePage"
<PageTitle>ProfilePage</PageTitle>

<br/>
<div class="row">
    <div class="col-md-3">
        <div class="nav" >
            <ul>
                <li @onclick="PersonalDetails"><i class='fas fa-user-circle' style='font-size:24px'></i><span>PersonalInfo</span></li>
                <li @onclick="EducationDetails"><i class='fas fa-user-graduate' style='font-size:24px'></i><span>EducationInfo</span></li>
                <li @onclick="ExperienceDetails"><i class='fas fa-laptop-code' style='font-size:24px'></i><span>ExperienceInfo</span></li>
                <li><i class='fas fa-cogs' style='font-size:24px'></i><span>Settings</span></li>
                <li><i class='fas fa-compass' style='font-size:24px'></i><span>Explore</span></li>
                <li><i class='fas fa-power-off' style='font-size:24px'></i><span>Logout</span></li>
             
            @*    <li><i class="fa fa-exclamation-circle"></i><span>About</span></li>*@
             @*   <p class="about"><i class="fa fa-exclamation-circle"></i>about</p>*@
            </ul>
        </div>
       
    </div>
    <div class="col-md-7">
        @if(PersonalContentShow)
        {
            <center>
                <h3>welcome Mr.Surendran</h3>
                <div class="profileBackground">
                        <div class="profilePhoto"> <UserImage className="UserImage3"/><i class='far fa-edit' @onclick=@(() => editTemplate = true) /></div>
                </div>
            </center>
            @foreach(var i in tblUserInfo)
            {
                <CardTemplate Title="PersonalInfo">
                        <table class="table">
                           <tr>
                                <th>Name</th>
                                <td>@i.NAME</td>
                           </tr>
                           <tr>
                                <th>LastName</th>
                                <td>@i.LASTNAME</td>
                           </tr>
                            <tr>
                                <th>BirthDay</th>
                                <td>@i.BIRTHDAY.ToString("dd/MM/yyyy")</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td>@i.GENDER</td>
                           </tr>
                        </table> 
                        <center>
                                <button class="btnclass" @onclick=@(() => editTemplate = true)>Manage Your PersonalInfo</button>
                        </center>
                </CardTemplate>

                <CardTemplate Title="ContactInfo">
                        <p class="card-title">ContactInfo</p>
                            <table class="table">
                                <tr>
                                    <th>Phone</th>
                                    <td>@i.PHONE</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>@i.EMAIL</td>
                                </tr>
                            </table>
                        <center>
                                <button class="btnclass" @onclick=@(() => editTemplate = true)>Manage Your ContactInfo</button>
                        </center>
                </CardTemplate>

                <CardTemplate Title="AddressInfo">
                        
                            <p class="card-description" style="color:white;">@i.ADDRESS</p>
                        <center>
                                <button class="btnclass" @onclick=@(() => editTemplate = true)>Manage Your AddressInfo</button>
                        </center>
                </CardTemplate>
            
}
        }

        @if(EducationContentShow)
        {
            @foreach (var educationDetails in EducationDetails1)
            {
                <CardTemplate Title="@educationDetails.TITLE">
                    <EducationContent education=@educationDetails></EducationContent>
                </CardTemplate>
            }
            <button class="addmorebtn">  <i class="fa fa-plus-circle"></i></button>
        }
        @if(ExperienceContentShow)
        {
              <CardTemplate Title="Experience">
                <ExperienceContent Experience=@Experience  />
              </CardTemplate>
                     
        }
          
     
    </div>
</div>

@if(editTemplate)
{
    <button type="button" class="popupbtn" @onclick=@(() => editTemplate = false)><i class="fa fa-plus-circle" style="transform: rotate(45deg);color:lightcoral;"></i></button>
    <EditTemplate>
            <ProfilePopUpPage />
    </EditTemplate>
}


@code {
    List<tblEducationDetails>? EducationDetails1 = new List<tblEducationDetails>();
    List<tblExperience>? Experience = new List<tblExperience>();
    List<tblUserInfo>? tblUserInfo = new List<tblUserInfo>();
    tblUserInfo[]? tblUser;

    private bool PersonalContentShow { get; set; } = true;
    private bool EducationContentShow { get; set; } = false;
    private bool ExperienceContentShow { get; set; } = false;
    private bool editTemplate { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }

    protected override void OnInitialized()
    {
        if(userService.CurrentUserName()!=null) 
        {
            EducationDetails1 = userService.Education();
            Experience = userService.Experience();
            tblUserInfo = userService.GetPersonalInfo();
        }
    }

    private void PersonalDetails()
    {
        PersonalContentShow = true;
        EducationContentShow = false;
        ExperienceContentShow = false;

    }
    private void EducationDetails()
    {
        PersonalContentShow = false;
        EducationContentShow = true;
        ExperienceContentShow = false;
    }
    private void ExperienceDetails()
    {
        PersonalContentShow = false;
        EducationContentShow = false;
        ExperienceContentShow = true;
    }
  
   


}


     
  
   

 