@foreach(var i in ListUserInfo)
{
        <div class="row">
            <div class="col-md-6">
                <div class="editContent">
                    <center>
                        <input type="text" placeholder="Enter your name" value="@i.NAME"  /><br />
                        <input type="text" placeholder="Enter your Lastname" value="@i.LASTNAME" /><br />
                        <input type="date" placeholder="Enter DOB" value="@i.BIRTHDAY"   />
                        <select>
                            <option value="None">Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select><br />
                        <input type="number" placeholder="Enter your Phone" value="@i.PHONE" /><br />
                        <input type="email" placeholder="Enter your Email" value="@i.EMAIL" /><br />
                        <textarea class="address" rows="3" cols="23" placeholder="Please enter Address..." value="@i.ADDRESS" /><br />
                        <button class="SubmitBtn" @onclick="upDatePersonalInfo">Update</button>
                    </center>
                </div>
            </div>
            <div class="col-md-6">
                <div class="editContent1">
                    <center>
                        <div class="profilePhoto">
                            @if(CurrentImage)
                            {
                                 <UserImage className="UserImage3" />
                            }
                            else
                            {
                                <img src=@FileSource class="image" for='foo' />
                            }
                         <InputFile OnChange="OnInputFileChange" directory accept="image/*" Id='InputFile' style="display:none"></InputFile>
                        <label for='InputFile' class="label"><i class='fas fa-pen' style="color:white;"></i></label>
                        </div>
                        <p contenteditable="true">
                            I already want to take a nap tomorrow.
                            💫 On a mission to spread positivity and good vibes.
                            ✨ Life is too short to be ordinary.
                            💭 Dreamer, believer, achiever.
                            ✨ Positive vibes only.
                            👌 Smart work over hard work.
                            ⚔️ A warrior in a world of worriers.
                            🌻 Sunflower lover and positivity spreader.
                        </p>
                    </center>
                </div>
            </div>
        </div>
    
}

@code {



    List<tblUserInfo>? ListUserInfo = new List<tblUserInfo>();

    public string? FileSource { get; set; }
    public string? Imagepath { get; set; }
    IReadOnlyList<IBrowserFile> selectedFiles;
    private string? Filepath { get; set; }

    private bool CurrentImage { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        if (userService.CurrentUserName() != null)
        {
            ListUserInfo = userService.GetPersonalInfo();
        }
    }
    private void OnInputFileChange(InputFileChangeEventArgs e)
    {

        selectedFiles = e.GetMultipleFiles();
        this.StateHasChanged();
        CopyFile();
        CurrentImage = false;
    }
    private async void CopyFile()
    {
        foreach(var file in selectedFiles)
        {
            Stream stream = file.OpenReadStream(1024*1000);
            var path = $"{Environment.WebRootPath}\\Storage\\{file.Name}";
            FileStream fs = File.Create(path);
            await stream.CopyToAsync(fs);
            stream.Close();
            fs.Close();
            Imagepath = path;
            FileSource =  $"Storage\\{file.Name}";
        }
        this.StateHasChanged();

    }
    private void updateUserInfo()
    {
        userService.UpdateUserInfo(Imagepath);
    }
    private void upDatePersonalInfo()
    {
        userService.UpdateUserInfo(Imagepath);
        //string a= tblUserInfo;
    }


}
